header {
    background-color: #002245;
    color: #fff;
    text-align: center;
    flex:1,
}

.medsis_favicon {
    border-radius: 5px;
}

.container {
    margin: 20px ;
    padding: 18px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height:fit-content;
}

.container h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.center_img {
    width: 150px;
    border-radius: 30px;
    display: inline-block;
    margin: 0 auto;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #002245;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.contact_us p a {
    color: rgba(255, 151, 60, 0.938);
    text-decoration: none;
    padding: auto;
}

app_links {
    margin-top: 30px;
}

.app_links h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.app_links p {
    color: #666;
    margin-bottom: 20px;
}

.app_links a {
    display: inline-block;
    margin-right: 10px;
}

.app_links a {
    text-decoration: none;
}

.app_links a p {
    color: hsl(180, 7%, 16%);
}

.app_links a img:hover {
    transform: scale(1.1);
}

.app_links a img.google-play-badge {
    transform: scale(100%);
}

.app_links a img {
    width: 100px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}